html {
    font-size: clamp(1rem, calc(0.5rem + 2vw), 1.625rem);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    padding: 5vw 10vw 5vw 10vw;
    display: flex;
    justify-content: space-between;

}

header nav ul {
    display: flex;
    gap: 3vw;
}

header nav ul li:last-child a {
    background: #3366FF;
    color: white;
    padding: 1vw;
    border-radius: 7px;
    font-size: 16px;
}

/* === BANNER PET === */

section.pet {
    display: flex;
    justify-content: space-between;
    padding: 3vw 10vw 3vw 10vw;
    background-color: #F7F5FD;
}

section.pet div:first-child {
    width: 50%;
    font-size: 20px;
}

section.pet div:first-child h2 {
    font-size: 2.2rem;
    color: rgba(45, 45, 45, 1);
    font-weight: bold;
}

section.pet div:first-child p {
    opacity: 50%;
    padding: 3vw 0vw 5vw 0vw
}

section.pet div:first-child button {
    background-color: rgba(248, 213, 126, 1);
    padding: 1vw 3vw;
    border-radius: 7px;
    font-size: 1vw;
}

/* === VIDEO === */

section.video {
    display: flex;
    justify-content: center;
    background-color: #F2FAF8;
    padding: 2vw 2vw;
}
section.video iframe {
  width: 100%;
  aspect-ratio: 16 / 9; 
}

/* === LOGOS === */
section.logo ul {
  display: flex;
  justify-content: space-between;
  padding: 5vw 6vw;
  background-color: #FFFFFF;
}
    
/* === ICONS === */
section.icons {
    justify-content: space-between;
    padding: 3vw 10vw 3vw 10vw;
    background-color: #FFFFFF;
}

section.icons ul {
    display: flex;
}

section.icons ul li {
    padding: 3vw 5vw;
}

section.icons ul li h4 {
    font-size: 25px;
}

section.icons ul li p {
    font-size: 18px;
    opacity: 0.7;
}

section.dylan {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    padding: 2vw 1vw 2vw 1vw ;
}
section.dylan ul:first-child {
    
}
