* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.imgShow img {
    width: 100%;     
    max-width: 800px;  
    height: auto;    
    image-rendering: -webkit-optimize-contrast; 
    image-rendering: crisp-edges;  
}

.imgMini ul{
    display: flex;
    align-items: center;
    justify-content:center;
    list-style: none;
}

.imgMini img{
    width: 100px;
    height: 100px;
    margin: 10px;
    cursor: pointer;
}